@charset "UTF-8";

   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
  
   #container{
     width: 1200px;
     display: grid;
     grid-template-areas: 
     "header header header header"
     "aside main main main"
     "footer footer footer footer"
     ;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 120px minmax(650px,auto) 100px;
     gap: 2px;
   }
   #header{
      background-color: #5c007A;
      grid-area: header;
   }
   #aside{
      background-color:#8e24AA;
      grid-area: aside;
   }
   #main{
      background-color:#c158dc;
      grid-area: main;

   }
   #footer{
      background-color:#f8bdcd;
      grid-area: footer;
   }