<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>즐거운_코딩</title>
<!-- 외부 스타일-->
<link rel="stylesheet" href="../assets/css/list.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 <script src="../js/common.js"></script>
 <style>
   h1{

      background-color: aliceblue;
      color: black;
   }   
 </style>
</head>
<body>
   <h2>회원목록</h2> 
   <hr/>
   <a href="/ehr/template/list.do" target="_blank">템플릿_list</a>
   <table border="1">
     <thead>
      <tr>
         <th>번호</th>
         <th>회원ID</th>
         <th>이름</th>
         <th>이메일</th>
         <th>등급</th>
         <th>로그인</th>
         <th>추천</th>
         <th>등록일</th>
      </tr>
     </thead>
     <tbody>
      <tr>
         <td>1</td>
         <td>james01</td>
         <td>이상무01</td>
         <td>jamesol@paran.com</td>
         <td>BASIC</td>
         <td class="text-right">1</td>
         <td class="text-right">0</td>
         <td class="text-center">2025/06/30</td>
      </tr>
      <tr>
         <td>2</td>
         <td>james02</td>
         <td>이상무02</td>
         <td>jamesol@paran.com</td>
         <td>SILVER</td>
         <td class="text-right">50</td>
         <td class="text-right">5</td>
         <td class="text-center">2025/06/30</td>
      </tr>
      <tr>
         <td>3</td>
         <td>james03</td>
         <td>이상무03</td>
         <td>jamesol@paran.com</td>
         <td>GOLD</td>
         <td class="text-right">51</td>
         <td class="text-right">31</td>
         <td class="text-center">2025/06/30</td>
      </tr>      
     </tbody>

   </table>

   <div>2025. 6. 30</div> 
</body>
</html>